# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# IDE specific files
.idea/
.vscode/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.temp